<a href="https://colab.research.google.com/github/gustavo-plc/NYC-Schools/blob/main/NYC_Schools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploring NYC Public School Test Result Scores**

### **Importing and knowing the data**

In [4]:
#importing packages

import pandas as pd

# defining file path
path = "/content/drive/MyDrive/Colab Notebooks/NYC-Schools/schools.csv"

# reading information from a csv file and assigning as a dataframe to a variable
schools = pd.read_csv(path)

# DataFrame preview
print(schools.head())
print(schools.info())

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None

### **FIRST QUESTION: Which NYC schools have the best math results?**

STEPS TO CALCULATE THE ANSWER



1.   Calculate the threshold that defines the best math results
2.   Subset the Data Frame based on the calculated threshold and show school_name and average_math, the latter sorted in descending order.
3.   Assign this result to best_math_schools.
4.   Print the result

Through data analysis tools, it was possible to select the schools that match the constraints and sort them in descending order.

In [5]:
# DEFINITION: The best math results are at least 80% of the maximum possible
# score of 800 for math.

threshold = 0.8 * 800

best_math_schools = schools.loc[schools['average_math'] >= threshold,['school_name', 'average_math']].sort_values(by = 'average_math', ascending = False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

### **SECOND QUESTION: What are the top 10 performing schools based on combined SAT scores?**

STEPS TO CALCULATE THE ANSWER

1.   Create a column to store the combined SAT scores from each school.
2.   Subset the Data Frame in a way that columns school_name and total_SAT will remain, the latter sorted in descending order. The rows need to be filtered from index 0 to 9 to select the top 10.
3.   Assign this result to the DF: top_10_schools.
4.   Print the result

Through data analysis tools, it was possible to select the best schools considering the total SAT score and sort them in descending order.

In [6]:
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

top_10_schools = schools.loc[0:9, ['school_name', 'total_SAT']].sort_values(by = 'total_SAT', ascending = False)

print(top_10_schools)

                                         school_name  total_SAT
5                     Bard High School Early College       1914
0  New Explorations into Science, Technology and ...       1859
3    High School for Dual Language and Asian Studies       1529
2                       Lower Manhattan Arts Academy       1261
7                            Marta Valle High School       1245
4      Henry Street School for International Studies       1197
1                               Essex Street Academy       1193
6       Urban Assembly Academy of Government and Law       1165
9                             New Design High School       1149
8                University Neighborhood High School       1144